@import '../../style/veriables.scss';

.card {
  position: relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 32px;
  background-color: $color-white;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  & + .card {
    margin-top: 8px;
    
  }
}

.row {
  display: flex;
  align-items: center;
  min-height: 50px;
  width: 100%;
}

.image {
  width: 32px;

  margin-right: 16px;
}
.name {
  width: 35%;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  span {
    margin-top: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: $color-light-grey;
  }
}
.price {
  width: 30%;
  margin-left: auto;
  text-align: right;
}
.persent {
  width: 20%;
  text-align: right;
}

.green {
  color: $color-green;
}

.red {
  color: $color-pink;
}