.CoinCard {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  cursor: pointer;
  & + .CoinCard {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
  }
}

.Row {
  display: flex;
  align-items: center;
  min-height: 50px;
  width: 100%;
    // + .Row {
    //   margin-top: 15px;
    // }
}

.Image {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.Name {
  width: 35%;
}
.Price {
  width: 30%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-left: auto;
  text-align: right;
}
.Persent {
  // margin-left: auto;
}



.green {
  color: rgb(57, 172, 57);
}

.red {
  color: rgb(224, 58, 58);
}