.CoinCard {
  padding: 0 10px;

  & + .CoinCard {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
  }
}

.Row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  + .Row {
    margin-top: 15px;
  }
}

.Image {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.Price {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-left: auto;
}

.green {
  color: rgb(57, 172, 57);
}

.red {
  color: rgb(224, 58, 58);
}