@import '../../style/veriables.scss';
.wrapper {
  position: relative;
  height: 24px;
}

.input {
  border: 1px solid $color-light-grey;
  width: 168px;
  border-radius: 5px;
  height: 24px;
  padding: 0 8px 0 32px;
  vertical-align: top;
  font-family: $font;
  font-size: 12px;
}

.icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.nosuggestions {
  position: absolute;
  color: rgb(244, 84, 65);
  font-size: 12px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  background: $color-white;
  border: 1px solid $color-light-grey;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 150px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(150px + 1rem);
  z-index: 11;
  width: 100%;
  font-size: 12px;
}

.suggestions li {
  padding: 8px;
}

.suggestionActive,
.suggestions li:hover {
  background-color: $color-blue;
  color: $color-white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid $color-light-grey;
}
