.input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 150px;
  margin-right: 10px; 
}

.nosuggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  position: absolute;
  background: #ffffff;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(150px + 1rem);
  z-index: 11;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestionActive,
.suggestions li:hover {
  background-color: rgba($color: grey, $alpha: 0.5);
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}