@import '../../style/veriables.scss';
.wrapper {
  display: flex;
  align-items: center;
  background-color: rgba($color: $color-light-grey, $alpha: 0.1);
  color: $color-grey;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 9px 32px;
}

.name {
  width: 70%;
}

.price {
  width: 30%;
  text-align: right;
}

.percent {
  width: 25%;
  text-align: right;
}
