$color-white: #fff;
$color-black: #3a3a3a;
$color-blue: #2642ba;
$color-green: #14c396;
$color-pink: #ff86a5;
$color-grey: #8b8b8b;
$color-light-grey: #cecdcd;
$color-bg: #faf9f9;
$color-gray: #909090;

$font: 'Roboto', Arial, sans-serif;
