.Checkbox {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 26px;
}
.Header {
  top: 36px;
  left: 90%;
  svg {
    width:25px;
    height: 25px;
  }
}

.Label {
  cursor: pointer;
  &:hover circle{
    fill: #2642BA;
    transition: fill 0.5s;
  }
}

.Input {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  &:checked + .Label circle{
    fill: #2642BA;
  }
}